@inject NavigationManager NavigationManager


<div class="card w-100 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">@Blog.Title</h5> <h6 class="card-subtitle mb-2 text-muted">Published @Blog.Published.ToString("Y")</h6>
        <p class="card-text">
            @Blog.Description <button @onclick="GotoBlog" class="btn btn-link">read more</button>
        </p>
    </div>
</div>

@code {

    [Parameter]
    public Post Blog { get; set; }

}

@code
{
    public void GotoBlog()
    {
        NavigationManager.NavigateTo(Blog.Key);
    }
}