@inject NavigationManager NavigationManager


<div class="card w-100 shadow-sm" style="border-radius: 20px; margin-top: 20px;">
    <div class="card-body" style="margin-left: 10px;">
        <h5 class="card-title">@Blog.Title</h5> <h6 class="card-subtitle mb-2 text-muted">Published @Blog.Published.ToString("Y")</h6>
        <div class="row card-text">
            <div class="col-auto">
                @Blog.Description
            </div>
            <div class="col-auto">
                <button @onclick="GotoBlog" class="btn btn-link" style="padding-left: 0;">read more</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Post Blog { get; set; }

}

@code
{
    public void GotoBlog()
    {
        NavigationManager.NavigateTo(Blog.Key);
    }
}