@inject IJSRuntime JsRuntime
<h1>@Blog.Title</h1>
<h4 class="text-muted">published @Blog.Published.ToString("Y")</h4>
<br/>

<MarkdownRenderer Markdown="@Blog.Content"></MarkdownRenderer>

<br/>
<div id="disqus_thread"></div>

@code {

    [Parameter]
    public Post Blog { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await RenderMermaidDiagrams();
        await RenderSyntaxHighlighting();
    }

    private async Task RenderMermaidDiagrams()
    {
        await JsRuntime.InvokeVoidAsync("mermaid.initialize", new
        {
            theme = "neutral",
            securityLevel = "strict",
            flowchart = new
            {
                useMaxWidth = true,
                htmlLabels = true,
                curve = "cardinal"
            }
        });


        await JsRuntime.InvokeVoidAsync("mermaid.init");
    }

    private async Task RenderSyntaxHighlighting()
    {
        // syntax highlighting https://prismjs.com/extending.html#api
        await JsRuntime.InvokeVoidAsync("Prism.highlightAll");
    }

}