@inject NavigationManager NavigationManager


<div class="card w-100 shadow-sm" style="border-radius: 20px; margin-top: 20px;">

    <div class="card-body" style="margin-left: 10px;">
        <div class="row">

            <div class="col-sm-11" style="max-width: calc(100% - 40px);">
                <h5 class="card-title">@Blog.Title</h5>
                <div class="row card-text">
                    <div class="col-auto">
                        @Blog.Description
                    </div>
                    <div class="col-auto">
                        <button @onclick="GotoBlog" class="btn btn-link" style="padding-left: 0;">read more</button>
                    </div>
                </div>
            </div>
            <div style="min-width: 20px; max-width: 30px;" >
                <p class="card-subtitle mb-2 text-muted" style="margin-top: 10px;-ms-writing-mode:tb-rl; writing-mode: vertical-rl; transform:rotate(180deg); vertical-align: bottom">@Blog.Published.ToString("Y")</p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Post Blog { get; set; }

}

@code
{
    public void GotoBlog()
    {
        NavigationManager.NavigateTo(Blog.Key);
    }
}