@using Microsoft.Extensions.Logging
@using Markdig
@inject ILogger<MarkdownRenderer> Logger
@if (Markdown == null)
{
    <span>Loading...</span>
}
else
{
    @((MarkupString) BuildHtmlFromMarkdown(Markdown))
}

@functions {
    
    [Parameter]
    public string Markdown { get; set; }

    private string BuildHtmlFromMarkdown(string value)
    {
        Logger.LogDebug("Rendering {markdown}", value);
        var html = Markdig.Markdown.ToHtml(
            value,
            new MarkdownPipelineBuilder()
                .UseAdvancedExtensions()
                .UseEmojiAndSmiley()
                .UseCustomContainers()
                .UseYamlFrontMatter()
                .Build()
            );

        Logger.LogDebug("Rendered {html}", html);
        return html;
    }

}