@page "/about"

<div class="container-fluid">
    <div class="markdown-editor">
        <h1>About me</h1>

        <div class="text-dark">
            <p>
                I'm a geek, father and I love coding, software archicture, gifs conferences, tech and much more.
                Fun fact about me, I grew up on a farm but the profession somehow did suit me not only due to hay fever.
            </p>
            <p>Here is a short list focus area </p>
            <ul>
                <li>.NET, C# and the ecoystem</li>
                <li>Containers, Docker, K8s, swarm</li>
                <li>Software architecture</li>
                <li>Cloud, CNCF, Azure, AWS</li>
                <li>Infrastructure as code, Terraform</li>
                <li>Devops, continous delivery</li>
                <li>Mobile, Xamarin, Android</li>
                <li>Team spirit, how to build great things, make teams better</li>
            </ul>
            <p>and my reaction when I'm working, building or contributing on any of those</p>
        </div>
        <iframe src="https://giphy.com/embed/MGdfeiKtEiEPS" width="480" height="330" frameBorder="0" class="giphy-embed"></iframe>
    </div>


</div>