@page "/about"

<div class="container-fluid">
    <div class="markdown-editor">
        <h1>About me</h1>

        <div class="text-dark">
            <p>
                I'm a software engineer, architect, geek, father and I love coding, software archicture, gifs, conferences, tech and much more. <br/>
                Fun fact about me, I grew up on a farm but the profession somehow did not suit me only due to hay fever.
            </p>
            <p>Here the short list of my focus area</p>
            <ul>
                <li>.NET, C# and the ecoystem</li>
                <li>Containers, Docker, K8s, swarm</li>
                <li>Software architecture</li>
                <li>Cloud, CNCF, Azure, AWS</li>
                <li>Infrastructure as code, Terraform</li>
                <li>Devops, continous delivery</li>
                <li>Mobile, Xamarin, Android</li>
                <li>Team spirit, how to build great things, make teams better</li>
            </ul>
            <p>and my reaction when I'm working, building or contributing on any of those</p>
        </div>
        <br/>
        <iframe src="https://giphy.com/embed/MGdfeiKtEiEPS" style="width: 100%" frameBorder="0" class="giphy-embed"></iframe>
    </div>


</div>