@page "/"
@inject PostDirectory Directory

<div class="container-fluid">
    @foreach (var post in Posts)
    {
        <div class="markdown-view">
            <div class="row">
                <BlogPostShort Blog="@post"></BlogPostShort>
            </div>
        </div>
    }
</div>

@code
{
    public List<Post> Posts { get; set; } = new List<Post>();

    protected override async Task OnInitializedAsync()
    {
        Posts = await Directory.GetPosts();
        StateHasChanged();
    }


}