@page "/"
@inject PostDirectory Directory

<div class="container-fluid markdown-view">
    @foreach (var post in Posts)
    {
        <div class="row">
            <BlogPostShort Blog="@post"></BlogPostShort>
        </div>
    }
</div>

@code
{
    public List<Post> Posts { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Posts = await Directory.GetPosts();
        StateHasChanged();
    }


}